<p>Directed by Iliyas Baigazy</p>
<p>Иногда нужно, чтобы вся твоя жизнь перевернулась вверх
  дном, чтобы всё к чертям полетело, потому что тогда по-новому
  начинаешь видеть, замечаешь то, что до этого упускал. Глаза открываются,
  забываешь слова, которые так часто говорил в своей жизни, что у них уже появился
  душок банальности. А новых слов ещё нет. Они только должны появиться на свет. И ты растерян, и
  в этой растерянности обостряются все ощущения, дремавшие до этого в покое обыденности.</p>
